
html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  margin:0;
  height: 100vh;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */

.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 60px;
  height: 100%;
}

header{
  grid-area: header;
  background-color: #203040;
}

main{
  grid-area: main;
  padding: 10px;
}

footer{
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}

/*  Common  */

a{
  text-decoration: none;
}

a:hover{
  color: #ff8000;
}

/* Header */

header a{
  color: #ffffff;
  padding: 10px;
}

a.brand{
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center{
  justify-content: center;
}

/*   Card   */

.card{
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  width: 100%;
}

.card h2{
  font-size: 2rem;
  padding: 0;
}

.card a{
  padding-right: 1rem;
}

.card-body > *{
  margin-bottom: 0.5rem;
}

























